{$SITE_ADDRESS} {
  encode zstd gzip
  header {
    X-Content-Type-Options nosniff
    Referrer-Policy same-origin
    -Server
  }
  handle /api/* {
    reverse_proxy api:4000
  }
  handle {
    reverse_proxy web:3000
  }
}
